@font-face {
  font-family: SelfModern;
  src: url("fonts/SelfModern.otf") format("opentype");
}

@font-face {
  font-family: MilkyWell;
  src: url("fonts/MilkyWell.ttf") format('truetype');
}


.gigt_container_master{
  position: absolute;
  left: 5vw;
  top: 5vw;
}

.gigs_container{
  transform: rotate(6deg);
  margin-bottom: 6vw;
}

a {
  display: inline-block;
  font-size: 6vw;
  font-family: SelfModern;
  font-weight: 100;
}
